*.ipr
*.iws
.gradle
build
.idea
classes
*.iml
.DS_Store
log/
out
.local
buildSrc
*-local.yml
*-local.xml
gradle/*
gradle/wrapper/dists
!gradle/wrapper/
logs
*node_modules/*
*node_modules002/*
**/node_modules
**/node_modules002
dist/*
